# Regular Experessions
Regular expressions are a way to describe sets of strings that meet certain criteria, and are incredibly useful for pattern matching.
## Character classes
A character class makes it possible to search for **any one** of a set of characters, you can **specify the set** or **use pre-defined** sets

|Class| Explanation |
| --- | --- |
| ```[abc]``` | Matches **a, b, or c** |
| ```[a-z]``` | Matches **ANY** character **between a and z**|
| ```[^A-Z]``` | Matches **ANY** character that is **NOT** between **A and Z**|
| ```\d``` | Matches **digits**, equivalent to ```[0-9]``` |
| ```\D``` | Matches any **NON-digits**, opposite of ```\d```, shortcuts below also have opposites|
| ```\w``` | Matches **ANY word characters**, equivalent to ```[A-Za-z0-9_]``` (*opposite of ```\W```*)|
| ```\s``` | Matches **white space characters** (spaces, tabs, linebreaks), (*opposite of ```\S```*) |
| ```.``` | Matches **ANY** non-newline character |

Character classes can be combined, like in ```[a-zA-Z0-9]```.


## Combining Patterns
There are multiple ways to combine patterns together in ReExp

|Combo| Explanation |
| --- | --- |
| ```AB``` | A match for **A followed immediately by one for B**. **Example**: **```x[.,]y```** matches ```x.y``` or ```x,y``` |
|```A\|B```| Matches **either A or B**. **Example**: **```\d+\|Inf```** matches either a sequence of digits or Inf|

A pattern can be followed by one of these **quantifiers** to **specify how many instance** of that pattern **can occur**

| Quantifiers Symbol| Explanation |
| --- | --- |
| ```a*``` | **zero or more** occurences of ```a``` |
| ```a+``` | **one or more** occurences of ```a```|
| ```a?``` | **zero or one** occurences of ```a``` |
| ```a{2, 6}``` | **2 ~ 6** occurences (including 2 and 6) of ```a```, additionaly, ```a{2, }```means **At least 2** occurences of ```a```, and ```a{2}``` means **Exactly 2** occurences of ```a```|


## Groups
* **Parentheses** are used similarly as in arithmetic expressions, to **create groups**. For example, ```(Mahna)+``` matches strings with **1 or more "Mahna"**, like ```"MahnaMahna"```. 
* As a comparison, **Without** the **parentheses**, ```Mahna+``` would match strings with **"Mahn"** followed by 1 or more "a" characters, like **"Mahnaaaa"**.

## Anchors
Anchors are **unique** in that they **don't match characters** - instead, they **match positions** in a string where an expression could land

| Anchors | Explanation |
| --- | --- |
| ```^``` | matches the **beginning** of a string |
| ```$``` | matches the **end** of a string|
| ```\b``` | matches the **word boundary** (whitespace, punctuation)|

## Special Characters
The following **special characters** are used above to denote types of patterns:

```\ / ( ) [ ] { } + * ? | $ ^ .```

This means if you want to match one of those characters, you have to escape it using a backslash. For example, when trying to match ```"(1+3)"```, the corresponding **pattern** should be:

```python
r'\(1\+3\)'
```

In [1]:
import re

## Q1: Email Domain Validator
Create a regular expression that makes sure a given string email is a **valid email address** and that **its domain name is in the provided list** of domains.

* An email address is valid if it contains letters, number, or underscores, followed by an @ symbol, then a domain.
* All domains will have a 3 letter extension following the period.

```python
    >>> email_validator("oski@berkeley.edu", ["berkeley.edu", "gmail.com"])
    True
    >>> email_validator("oski@gmail.com", ["berkeley.edu", "gmail.com"])
    True
    >>> email_validator("oski@berkeley.com", ["berkeley.edu", "gmail.com"])
    False
    >>> email_validator("oski@berkeley.edu", ["yahoo.com"])
    False
    >>> email_validator("xX123_iii_OSKI_iii_123Xx@berkeley.edu", ["berkeley.edu", "gmail.com"])
    True
    >>> email_validator("oski@oski@berkeley.edu", ["berkeley.edu", "gmail.com"])
    False
    >>> email_validator("oski@berkeleysedu", ["berkeley.edu", "gmail.com"])
    False
```

In [2]:
def email_validator(email, domains):
    pattern = r"(\w+@)(\w+\.\w+)"
    valid = False
    for domain in domains:
        if re.fullmatch(pattern, email) and re.search(pattern, email).group(2) == domain:
            valid = True
        else:
            valid = valid
    return valid

In [3]:
email_validator("oski@berkeley.edu", ["berkeley.edu", "gmail.com"])

True

In [4]:
email_validator("oski@gmail.com", ["berkeley.edu", "gmail.com"])

True

In [5]:
email_validator("oski@berkeley.com", ["berkeley.edu", "gmail.com"])

False

In [6]:
email_validator("oski@berkeley.edu", ["yahoo.com"])

False

In [7]:
email_validator("xX123_iii_OSKI_iii_123Xx@berkeley.edu", ["berkeley.edu", "gmail.com"])

True

In [8]:
email_validator("oski@oski@berkeley.edu", ["berkeley.edu", "gmail.com"])

False

In [9]:
email_validator("oski@berkeleysedu", ["berkeley.edu", "gmail.com"])

False

## Q2: Basic URL validation
<img src="resources/url.png" alt="Drawing" style="width: 800px;"/>
For example, in the link ```https://cs61a.org/resources/#regular-expressions```, we would have:

* Scheme: ```https://```
* Domain Name: ```cs61a.org```
* Path to the file: ```/resources```
* Anchor: ```/#regular-expressions```

The port and parameters are not present in this example and you will not be required to match them for this problem.

For this problem:
* a valid **domain name** consists of two "words" separated by a single period. Recall that a "word" can consist of letters, numbers, and underscores. The second "word" should be exactly 3 characters long and represents the domain's extension. In the case of the above example, "cs61a" and "org" are the two "words" that are joined by a period.
    * For a URL to be "valid," it must contain a valid domain name and will optionally have a scheme, path, and anchor. 

* A valid scheme will either be ```http://``` or ```https://```.

* A valid path starts with a slash and then must be a valid path to a file or directory. A path to a directory should look something like path/to/directory, while a path to a file might look something like ```/composingprograms.html``` (note the period followed by the extension). Paths should not end with a slash or have more than one period -- ```/composing.programs.html/``` is not a valid path. Any non-slash and non-period character in a path should be a letter, number, or underscore.

* A valid anchor starts with ```/#```. While they are more complicated, for this problem assume that valid anchors will then be followed by **letters, numbers, hyphens, or underscores**.


```python
>>> match_url("https://cs61a.org/resources/#regular-expressions")
True
>>> match_url("https://pythontutor.com/composingprograms.html")
True
>>> match_url("https://pythontutor.com/should/not.match.this")
False
>>> match_url("https://link.com/nor.this/")
False
>>> match_url("http://insecure.net")
True
>>> match_url("htp://domain.org")
False
```

In [10]:
def match_url(text):

    scheme = r'http://|https://'
    domain = r'\w+\.\w{3}'
    path = r'(/\w+)*(\.\w+)?'
    anchor = r'(\#[\w-]+)?$'
    full_string = scheme + domain + path + anchor
    return bool(re.match(full_string, text))

In [11]:
scheme = r'http://|https://'
print(re.search(scheme, 'http://'))

<re.Match object; span=(0, 7), match='http://'>

In [12]:
match_url("https://cs61a.org/resources/#regular-expressions")

False

In [13]:
match_url("https://pythontutor.com/composingprograms.html")

True

In [14]:
match_url("https://pythontutor.com/should/not.match.this")

False

In [15]:
match_url("https://link.com/nor.this/")

False

In [16]:
match_url("http://insecure.net")

True

In [17]:
match_url("htp://domain.org")

False

# SQL
## 1. Select Statements
### Create table with ```SELECT```
We can use **```SELECT```** statement to create tables, the following statement **creates** a table with a single row, with columns named ```"first"``` and ```"last"```

```sql
sqlite> SELECT "Ben" AS first, "Bitdiddle" AS last;
Ben|Bitdiddle
```

Given two tables with the **same number of columns**, we can combine their rows into a larger table with **```UNION```**

For example, we want to append another row to the table we just created

```sql
sqlite> SELECT "Ben" AS first, "Bitdiddle" AS last UNION SELECT "Louis", "Reasoner";
Ben|Bitdiddle
Louis|Reasoner
```

### Select Values with ```SELECT ... FROM```
We can select specific values from an existing table using a ```FROM``` clause. This query creates a table with the selected columns from a table.

By using the special syntax **```SELECT * FROM```**, you will select **all** columns from a table, it's an easy way to **print the contents** of a table.

Use the statements:
```sql
sqlite> SELECT * FROM records;
```
We found table ```records``` looks like:

<img src="resources/table_example0.png" alt="Drawing" style="width: 640px;"/>

Then we **select** values in columns ```name```, and ```division``` **from** ```records``` using:

```sql
SELECT name, division FROM records;
```

You get:
<img src="resources/table_example1.png" alt="Drawing" style="width: 256px;"/>

### Filter selected values using **```WHERE```**, and **```ORDER BY```**

We can also choose which columns to show in the first part of the **```SELECT```**, we can filter out rows using **```WHERE```** clause, and sort the resulting rows with an **```ORDER BY```** clause. The syntax is:
```sql
SELECT [columns] FROM [tables]
WHERE [condition] ORDER BY [criteria];
```

For instance, the following statement lists all informaton about employees with the ```"Programmer"``` title.
```sql
SELECT * FROM records WHERE title = "Programmer";
```

<img src="resources/table_example2.png" alt="Drawing" style="width: 640px;"/>

The following statement lists the **names and salaries** of each employee under the **accounting** division, **sorted** in descending order by their salaries
```sql
SELECT name, division FROM records WHERE division = "Accounting" ORDER BY salary desc;
```
<img src="resources/table_example3.png" alt="Drawing" style="width: 256px;"/>

## Questions for SELECT statements
### Q3:  Select Oliver Employees
Write a query that outputs the names of employees that Oliver Warbucks directly supervises.

```sql
SELECT name FROM records WHERE supervisor = "Oliver Warbucks";
```
<img src="resources/q1.png" alt="Drawing" style="width: 128px;"/>

### Q4: Self Supervisor
Write a query that outputs all information about employees that supervise themselves.
```sql
SELECT * FROM records WHERE supervisor = name;
```
<img src="resources/q2.png" alt="Drawing" style="width: 640px;"/>

### Q5: Rich Employees
Write a query that outputs the names of all employees with salary greater than 50,000 in alphabetical order.
```sql
SELECT name FROM records WHERE salary > 50000 ORDER BY name asc;
```
<img src="resources/q3.png" alt="Drawing" style="width: 128px;"/>

## 2. Join statements
Given a table looks like:
<img src="resources/q4.png" alt="Drawing" style="width: 320px;"/>

Data are **combined by joining multple tables together** into one, a fundamental operation in database systems. There are many methods of joining, all closely related, but we will focus on **```the inner join```** in the class.

When tables are joined, the resulting table contains a new row for each combination of rows in the input tables. If two tables are joined and the left table gas ```m``` rows and the right table has ```n``` rows, then the joined table will have ```m*n``` rows. Joins are expressed in SQL by seperating table names by commas in the **```FROM```** clause of a **```SELECT```** statement

```sql
SELECT name, day FROM records, meetings;
```

<img src="resources/table_example4.png" alt="Drawing" style="width: 256px;"/>

Note that table may have **overlapping column names**, and so we need a method for **disambiguating column names** by table. 

A table may also be joined with itself, so we need a method for disambiguating tables. To do so, SQL allows us to give **aliases** to tables within a ```FROM``` cluse using the **keyword** **```AS```** and to refer to a column with a partucular table using a **dot expression**. 

In the example, we find the **name and title** of Louis Reasoner's supervisor.

```sql
SELECT b.name, b.title FROM records AS a, records AS b WHERE a.name = 'Louis Reasoner' AND a.supervisor = b.name;
```

Get: ```Alyssa P Hacker | Programmer```

## Questions for Join statements
Considering the following two tables
**records**
<img src="resources/table_example0.png" alt="Drawing" style="width: 640px;"/>
**meetings**
<img src="resources/q4.png" alt="Drawing" style="width: 320px;"/>

### Q6: Oliver Employee Meetings
Write a query that outputs the meeting days and times of all employees directly supervised by Oliver Warbucks.

```sql
SELECT day, time FROM records AS lhs, meetings AS rhs WHERE lhs.division = rhs.division AND lhs.supervisor = "Oliver Warbucks";
```

<img src="resources/q5.png" alt="Drawing" style="width: 128px;"/>

### Q7: Different Division
Write a query that outputs the names of employees whose supervisor is in a different division.

```sql
SELECT a.name FROM records AS a, records AS b WHERE a.supervisor = b.name AND a.division != b.division;
```
<img src="resources/q7.png" alt="Drawing" style="width: 128px;"/>

### Q8: Middle Manager
A middle manager is a person who is both **supervising someone** and is **supervised by someone different**. Write a query that outputs the names of all middle managers.

```sql
SELECT b.name FROM records AS a, records AS b WHERE a.supervisor = b.name AND b.supervisor != b.name;
```
<img src="resources/q8.png" alt="Drawing" style="width: 128px;"/>

# 3. Aggregation
We can also perform aggregation operations over multiple rows with the same ```SELECT``` statements

We can use the ```MAX, MIN, COUNT, SUM``` functions to retrieve more information from our intitial tables. If we want to find the name and salary of the employee who makes the most money, we can try:

```sql
SELECT name, MAX(salary) FROM records;
```

Getting:
```Oliver Warbucks|150000```

Using the special **```COUNT(*)```** syntax, we can count the number of rows in our table to see the number of employees at the company

```sql
SELECT COUNT(*) from RECORDS;
```
Getting: ```8```

These commands can be performed on **specific sets of rows** in our table by using the **```GROUP BY [colname]**``` clause. This clause takes all of the rows that have the same value in column name and groups together.

We can find the minimum salary earned in each division of the company
```sql
SELECT division, MIN(salary) FROM records GROUP BY division;
```

<img src="resources/table_example5.png" alt="Drawing" style="width: 256px;"/>

These groupings can be additionally filtered by **```HAVING```** clause. In contrast to ```WHERE``` clause, which **filters out rows.** The **```HAVING```** clause filters out entire groups. 

To find all titles that are held by more than one persoon, we use:

```sql
SELECT title FROM records GROUP BY title HAVING count(*)>1;
```

Getting: ```Programmer```

Similiarly, we can find all divisions that have one or more person using, and find the lowest salary

```sql
SELECT division, MIN(salary) FROM records GROUP BY division HAVING count(*)>1;
```
<img src="resources/table_example6.png" alt="Drawing" style="width: 256px;"/>

## Questions for Aggregation
### Q9: Supervisor Sum Salary
```sql
SELECT supervisor, SUM(salary) FROM records GROUP BY supervisor
```
<img src="resources/q9.png" alt="Drawing" style="width: 256px;"/>

### Q10: Num of Meetings
Write a query that outputs the days of a week for which fewer than 5 employees have a meeting
```sql
SELECT m.day FROM records AS e, meetings AS m WHERE e.division = m.division GROUP BY m.day HAVING COUNT(*) < 5;
```
Getting: ```Monday```

### Q11: Rich Pairs
Write a query that outputs all divisions for which there is more than one employee, and all pairs of employees within that division that have a combined salary less than 100,000.
```sql
SELECT a.division FROM records AS a, records AS b WHERE a.name != b.name AND a.division = b.division GROUP BY a.division HAVING MAX(a.salary + b.salary) < 100000
```
Getting ```Accounting```

# Additional questions from Discussion 12
Given a table(s):
```sql
CREATE TABLE scoring AS
    SELECT "Donald Stewart" AS player, 7 AS points, 1 AS quarter UNION
    SELECT "Christopher Brown Jr.", 7, 1 UNION
    SELECT "Ryan Sanborn", 3, 2 UNION
    SELECT "Greg Thomas", 3, 2 UNION
    SELECT "Cameron Scarlett", 7, 3 UNION
    SELECT "Nikko Remigio", 7, 4 UNION
    SELECT "Ryan Sanborn", 3, 4 UNION
    SELECT "Chase Garbers", 7, 4;

CREATE TABLE players AS
    SELECT "Ryan Sanborn" AS name, "Stanford" AS team UNION
    SELECT "Donald Stewart", "Stanford" UNION
    SELECT "Cameron Scarlett", "Stanford" UNION
    SELECT "Christopher Brown Jr.", "Cal" UNION
    SELECT "Greg Thomas", "Cal" UNION
    SELECT "Nikko Remigio", "Cal" UNION
    SELECT "Chase Garbers", "Cal";
```

## Q1: Big Quarters
Write a SQL statement to select a one-column table of quarters in which more than 10 total points were scored.

```sql
SELECT quarter FROM scoring GROUP BY quarter HAVING SUM(points)>10;
```

## Q2: Score
Write a SQL statement to select a two-column table where the first column is the team name and the second column is the total points scored by that team. Assume that no two players have the same name.
```sql
SELECT a.team, SUM(b.points) FROM players AS a, scoring AS b WHERE a.name=b.player GROUP BY team;
```