# 1. List
A list is a container that holds a sequence of related information
* It can hold any python values

### 1.0 List repetition
use ```*``` or ```mul(a, b)```

In [1]:
from operator import mul
prices = [5, 6, 7.5]

In [2]:
moreprices0 = prices * 3
moreprices1 = mul(prices, 3)
print(moreprices0)
print(moreprices0 == moreprices1)

[5, 6, 7.5, 5, 6, 7.5, 5, 6, 7.5]
True

### 1.1 Ranges
* One argument version: start with 0 and ends just before it
* Two argument version ```range(start, end)```: start with start and ends just before end

In [3]:
for n in range(6):
    print(n, end=" ")

0 1 2 3 4 5

In [4]:
for n in range(2, 6):
    print(n, end=" ")
print('\nfinished')

2 3 4 5
finished

In [13]:
a = range(2, 6)
print(*a, sep=', ')
b = ['b', 1, 'c']
print(*b, sep='; ')

2, 3, 4, 5
b; 1; c

## 1.2 List comprehensions

A way to create a new list by "mapping" an existing list
* Shorter version for simpler tasks
```python
    [<map exp> for <name> in <iter exp>]
```
* Long version with filter
```python
    [<map exp> for <name> in <iter exp> if <filter exp>]
```

In [5]:
odds = [1, 3, 5, 7, 9]
evens = [(num + 1) for num in odds]
print(evens)

[2, 4, 6, 8, 10]

In [96]:
temps = [60, 35, 75, 67, 88, 77, 79]
hottemps = [str(temp) + 'F' for temp in temps if temp > 70]
print(hottemps)

['75F', '88F', '77F', '79F']

### 1.3 List comprehensions
```python
    [<map exp> for <name> in <iter exp> if <filter exp>]
```
* Add a new frame with the current frame as its parent
* Create an empty result list that is the value fo the expression
* For each element in the iterable value of ```<iter exp>```:
    * Bind ```<name>``` to that element in the new frame from step1
    * If ```<filter exp>``` is true, then add the value of ```<map exp>``` to the result list

#### Exercise 1:
Return all divisors of N that is smaller than itself

In [97]:
def divisors(n):
    res = [num for num in range(1, int(n/2) + 1) if (n % num == 0)]
    return res

In [98]:
divisors(12)

[1, 2, 3, 4, 6]

#### Exercise 2
Return S but with element chose by F at the front

In [99]:
def front(s, f):
    first_half = [e for e in s if f(e)]
    second_half = [e for e in s if not f(e)]
    return first_half + second_half

In [100]:
front(range(10), lambda x: x % 2 == 1)

[1, 3, 5, 7, 9, 0, 2, 4, 6, 8]

# 2. String Literals
* Single quoted strings are equivalent to double quoted strings
* Multi-line strings automatically insert new lines

**Note**: ```\n``` is an escape sequence signifying a line feed

In [101]:
s1 = """The Zen of Python
claims, Readability counts.
Read more: import this."""
s2 = 'The Zen of Python\nclaims, Readability counts.\nRead more: import this.'

### Differences between strings and lists
* A single-character string is the same as the character
* The ```in``` operator match sbustrings

# 3. Dictionaries
A ```dict``` is a mapping of key-value pairs
* The ```key``` cannnot be any other mutable type
* ```Values``` can be any type

In [102]:
states = {
    "CA": "California",
    "DE": "Delaware",
    "NY": "New York",
    "TX": "Texas",
    "WY": "Wyoming"
}

```len()``` method returns the number of key-value pairs

In [103]:
len(states)

5

```in```operator returns true if the operand matches ```key```

In [104]:
"Texas" in states

False

In [105]:
'WY' in states

True

## 3.1. Access value by key

In [106]:
words = {
    "m√°s": "more",
    "otro": "other",
    "agua": "water"
}

In [107]:
words["otro"]

'other'

Access dictionary with ```dict.get(key, val)```, where ```val``` is optional
    
* Equivalent to ```dictname[key]``` if ```key``` matches

* When ```key``` is missing and ```val``` is **not** specified, return ```None```
* When ```key``` is missing and ```val``` is specified, return ```val```

In [108]:
words["pavo"]

KeyError: 'pavo'

In [109]:
words.get("pavo", "ü§î")

'ü§î'

In [110]:
print(words.get("pavoii"))

None

## 3.2. Dictionary comprehensions

General Syntax:
```python
{key: value for <name> in <iter exp>}
```

In [111]:
{x: x*x for x in range(3,6)}

{3: 9, 4: 16, 5: 25}

#### Exercise: Prune:
Return a copy of D which only contains key/value pairs whose keys are also in KEYS.
```python
    >>> prune({"a": 1, "b": 2, "c": 3, "d": 4}, ["a", "b", "c"])
        {'a': 1, 'b': 2, 'c': 3}
```

In [112]:
def prune(d, keys):
    res = {k: d[k] for k in d if k in keys}
    return res

In [113]:
prune({"a": 1, "b": 2, "c": 3, "d": 4}, ["a", "b", "c"])

{'a': 1, 'b': 2, 'c': 3}

#### Exercise: Index:
Return a dictionary from keys k to a list of values v for which match(k, v) is a true value.
```python
   >>> index([7, 9, 11], range(30, 50), lambda k, v: v % k == 0)
        {7: [35, 42, 49], 9: [36, 45], 11: [33, 44]}
```

In [114]:
def index(keys, values, match):
    def key_entry_helper(key, values, match):
        return [val for val in values if match(key, val)]
    res = {key: key_entry_helper(key, values, match) for key in keys}
    return res

In [115]:
index([7, 9, 11], range(30, 50), lambda k, v: v % k == 0)

{7: [35, 42, 49], 9: [36, 45], 11: [33, 44]}

# 4. Slicing
Start from start, end till just before end, with an optional step
```python
list[start: end, step]
```

In [116]:
letters = ["A", "B", "C", "D", "E", "F"]
sublist1 = letters[1:5:2]
sublist2 = letters[0:6:2]

In [117]:
print(sublist1)
print(sublist2)

['B', 'D']
['A', 'C', 'E']

# 5. Copying, avoid unexpected mutation
Sometime we are making undesirable mutations to an object, use copying like approaches to avoid these accidental mutations

* Slicing a whole list returns a copy of that list: ```listC = listA[:]```
* list() is an alternative way

### Example

In [118]:
def makechange(arr, idx, val):
    arr[idx] = val
    return arr
    # do something with changed a, though we want to keep the global a intact

In [119]:
a0 = [1, 2, 3, 4]
makechange(a0, 3, 100)

[1, 2, 3, 100]

In [120]:
print(a0) # a0 in main is corrupted

[1, 2, 3, 100]

```list()``` creates a new list containing existing elements from any iterable:

In [121]:
def makechange_safe(a, idx, val):
    acopy = list(a)
    acopy[idx] = val
    return acopy

In [122]:
a1 = [1, 2, 3, 4]
makechange_safe(a1, 3, 100)

[1, 2, 3, 100]

In [123]:
print(a1)

[1, 2, 3, 4]

### Another Example

```Line2``` could cause unexpected mutations, FIX it

In [124]:
listA = [2, 3]
listB = listA

listC = listA[:] # List C should not be mutated here, and the code works as expected
listA[0] = 4  # We hope to see A=[4, 3], next line will make it be be [4, 5]
listB[1] = 5  # And the should be B=[2, 5], though we get [4,5]

In [125]:
print(listA)
print(listB)
print(listC)

[4, 5]
[4, 5]
[2, 3]

We fix the code above using ```ListB = list(listA)```

In [126]:
listA = [2, 3]
listB = list(listA) 

listC = listA[:]
listA[0] = 4  # We hope to see A=[4, 3]
listB[1] = 5  # And B=[2, 5]

In [127]:
print(listA)
print(listB)
print(listC)

[4, 3]
[2, 5]
[2, 3]

# 6. Built-in functions for iterables

The following built-in functions work for ```lists```, ```strings```, ```dicts```, and any other **iterable** data type

| Function | Description |
| --- | --- |
| ```sum(iterable, start)``` | **Returns the sum of values in iterable, initializing sum to start** |
| ```all(iterable)``` | **Return True if all elements of iterable are true (or if iterable is empty)** |
| ```any(iterable)``` | **Return True if any element of iterable is true. Return False if iterable is empty.** |
| ```max(iterable, key=None)``` | **Return the max value in iterable** |
| ```min(iterable, key=None)``` | **Return the min value in iterable** |

### Example with sum, any, all

In [128]:
sum([1, 2, 3, 4], 3) # returns 3 + sum[1 to 4]

13

In [129]:
perfect_square = lambda x: x == round(x ** 0.5) ** 2
res_square = [perfect_square(x) for x in range(50, 60)]

In [130]:
print(res_square)
any(res_square)
# all(res_square)

[False, False, False, False, False, False, False, False, False, False]

False

In [131]:
res_smallerthan5 = [x < 5 for x in range(5)]
print(res_smallerthan5)
all(res_smallerthan5)

[True, True, True, True, True]

True

In [132]:
mixed_str_with0 = ['a', [1, 3], 0]
print(all(mixed_str_with0), any(mixed_str_with0))

mixed_str_without0 = ['a', [1, 3], 0.0001]
print(all(mixed_str_without0), any(mixed_str_without0))

False True
True True

### Examples with max/min
simpler Use cases

In [133]:
print(max([73, 89, 74, 95]))         # 95
print(max(["C+", "B+", "C", "A"]))  # C+
print(max(range(10)))                # 9

95
C+
9

#### A ```key``` function decides how to compare each value

```Key``` function is a function applied to each element of the iterable, find max using the returned value of ```key(e)```

##### Example: Customized sort rule of a nested list

In [134]:
coords = [ [37, -144], [-22, -115], [56, -163] ]
defaultres = max(coords)
maxbysecond = max(coords, key=lambda v: v[1])
print(defaultres)
print(maxbysecond)

[56, -163]
[-22, -115]

##### Example: Customized sort rule of list of numbers, max by residual of 10

In [135]:
testlist = [78, 19, 88, 96]
maxval = max(testlist)
maxbyresidual = max(testlist, key=lambda v:v%10)
print(maxbyresidual, maxval)

19 96

##### Example: Customized max rule of a dictionary, max by analyzing the score, illustrate with nested list

In [136]:
gymnasts0 = [ ["Brittany", 9.15, 9.4, 9.3, 9.2],
    ["Lea", 9, 8.8, 9.1, 9.5],
    ["Maya", 9.2, 8.7, 9.2, 8.8] ]
# max(gymnasts, key=lambda scores: sum(scores[1:], 0)) # ["Brittany", ...]

Find the one with minimum score

In [137]:
min(gymnasts0, key=lambda scores: min(scores[1:]))    # ["Maya", ...]

['Maya', 9.2, 8.7, 9.2, 8.8]

Find the one with max score for the last exam

In [138]:
max(gymnasts0, key=lambda scores: scores[4])    # ["Maya", ...]

['Lea', 9, 8.8, 9.1, 9.5]

Find the one gets max total score

In [139]:
max(gymnasts0, key=lambda scores: sum(scores[1:]))    # ["Maya", ...]

['Brittany', 9.15, 9.4, 9.3, 9.2]

##### Example: illustrate with dictionary

In [140]:
gymnasts = {"Brittany": [9.15, 9.4, 9.3, 9.2],
            "Lea": [9, 8.8, 9.1, 9.5],
            "Maya": [9.2, 8.7, 9.2, 8.8]
}

In [141]:
for k in gymnasts:
    print(k, sum(gymnasts[k]))

Brittany 37.05
Lea 36.4
Maya 35.9

Find the one get minmum score for the third exam

In [142]:
min_by_sum = min(gymnasts, key=lambda k: gymnasts[k][2:])
print(min_by_sum, gymnasts[min_by_sum])

Lea [9, 8.8, 9.1, 9.5]

Find the one gets the minimum score for the second exam

In [143]:
min_by_second = min(gymnasts, key=lambda k: gymnasts[k][1])
print(min_by_second, gymnasts[min_by_second])

Maya [9.2, 8.7, 9.2, 8.8]

Find the one gets the minimum score for the entire semester

In [144]:
print(gymnasts,'\n')

max_by_sum = max(gymnasts, key=lambda k: sum(gymnasts[k]))
min_by_sum = min(gymnasts, key=lambda k: sum(gymnasts[k]))
print('max:', max_by_sum, gymnasts[max_by_sum])
print('min:', min_by_sum, gymnasts[min_by_sum])

{'Brittany': [9.15, 9.4, 9.3, 9.2], 'Lea': [9, 8.8, 9.1, 9.5], 'Maya': [9.2, 8.7, 9.2, 8.8]}

max: Brittany [9.15, 9.4, 9.3, 9.2]
min: Maya [9.2, 8.7, 9.2, 8.8]