In [1]:
import re

# Section I: Regular Expression
# Q1. What would RegEx match?
## Q1.1
```
Q: #[a-f0-9]{6}
Choose the number of the correct choice:
0) A hexadecimal color code with 3 letters and 3 numbers
1) A hexadecimal color code that starts with letters and ends with numbers, like #gg1234
2) Any 6-digit hexadecimal color code, like #fdb515
3) Any hexadecimal color code with 0-6 digits
```
A: 2)

## Q1.2
```
Q: (fizz(buzz|)|buzz)
Choose the number of the correct choice:
0) Only fizzbuzz or buzz
1) Only fizzbuzzbuzz
2) Only fizz
3) Only fizzbuzz, fizz, and buzz
4) Only fizzbuzz
```
A: 3)

## Q1.3
```
Q: [-+]?\d*\.?\d+
Choose the number of the correct choice:
0) Only signed numbers like +1000, -1.5
1) Only signed or unsigned integers like +1000, -33
2) Signed or unsigned numbers like +1000, -1.5, .051
3) Only unsigned numbers like 0.051
```
A: 2)

## Q1.4
```
Q: [1-9]+[05]+
Choose the number of the correct choice:
0) Any positive number
1) Numbers that are both greater than 5 and divisible by 5 like 10, 25, 800
2) Numbers that are divisible by 5 but do not have the digits 0 and 5 adjacent to each other as the last 2 digits
3) Numbers that are divisible by 5 like 5, 20, 6325
```
A: 1)

# Q2: Scientific Name
Returns whether the input string ```name``` follows the correct format for a scientific name. A scientific name's format is as follows: 
* Starts with a capital letter
* Followed by a period, or a series of lowercase letters
* Followed by a space
* followed by a series of lowercase letters

```python
    >>> scientific_name("T. rex")
    True
    >>> scientific_name("t. rex")
    False
    >>> scientific_name("tyrannosurus rex")
    False
    >>> scientific_name("t rex")
    False
    >>> scientific_name("Falco peregrinus")
    True
    >>> scientific_name("F peregrinus")
    False
    >>> scientific_name("Annie the F. peregrinus")
    False
    >>> scientific_name("I want a pet T. rex right now")
    False
```

In [46]:
def scientific_name(name):
    pattern = r'^[A-Z]((\.)|([a-z]+))\s[a-z]+$'
    return bool(re.search(pattern, name))

In [47]:
scientific_name("T. rex")

True

In [48]:
scientific_name("t. rex")

False

In [49]:
scientific_name("tyrannosurus rex")

False

In [50]:
scientific_name("t rex")

False

In [51]:
scientific_name("Falco peregrinus")

True

In [52]:
scientific_name("F peregrinus")

False

In [53]:
scientific_name("Annie the F. peregrinus")

False

In [54]:
scientific_name("I want a pet T. rex right now")

False

## Q3: Calculator Ops

```python
    Returns True if an expression from the Calculator language that has two
    numeric operands exists in calc_str, False otherwise.

    >>> calculator_ops("(* 2 4)")
    True
    >>> calculator_ops("(+ (* 3 (+ (* 2 4) (+ 3 5))) (+ (- 10 7) 6))")
    True
    >>> calculator_ops("(* 2)")
    False
    >>> calculator_ops("(/ 8 4 2)")
    False
    >>> calculator_ops("(- 8 3)")
    True
    >>> calculator_ops("+ 3 23")
    False
```

In [61]:
def calculator_ops(calc_str):
    pattern = r'\(([+\-/*]\s+\d+\s+\d+)\)'
    return bool(re.search(pattern, calc_str))

In [63]:
calculator_ops("(+ (* 3 (+ (* 2 4) (+ 3 5))) (+ (- 10 7) 6))")

True

# Section II SQL
## Q4: What would SQL print?
```sql
sqlite> SELECT * FROM students LIMIT 30; -- This is a comment. * is shorthand for all columns!
```
Get **ALL** contents of the first 30 rows in table ```students```

```sql
sqlite> SELECT color FROM students WHERE number = 7;
```
Get the color column from students **where the "number" in that row** == 7

```sql
 SELECT song, pet FROM students WHERE color = "blue" AND date = "12/25"
```
Get the colums ```song, pet``` from students, where color is "blue" and date is "12/25"