# 1. Higher-Order function definition

A function that either:
* Take **another function** as an argument
* **Returns a function** as its result

is defined as HoF

Otherwise, the function is considered as first-order function

## 1.1 Function as arguments

In [20]:
def cube(k):
    return k ** 3

def summation(n, term):
    total = 0
    k = 1
    while k <= n:
        total = total + term(k)
        print(total)
        k = k + 1
    return total

In [21]:
summation(2, cube)

1
9

9

## 1.2 Function as return values
**Locally defined functions**: Functions defined within other function bodies are bound to names in a local frame

In [22]:
def make_adder(n):
    def adder(k):
        return k + n
    return adder

Function make_adder(n) returns a function adder(x), which returns x + n

In [23]:
add10 = make_adder(10)
add10(2)

12

In [24]:
make_adder(-1000)(100)

-900

# 2. Lambda Expressions
## 2.1. Lambda Syntax
A lambda is a simple function definition that evaluates to a function

The syntax:
```python
lambda <parameters>: <expression>
```
Example: square function using **lambda**. This function takes parameter ```x``` and returns ```x * x```

In [25]:
square = lambda x: x * x
square(3)

9

## 2.2. More realistic usage of lambda
Pass lambda as a function argument

In [26]:
summation(5, lambda x: x ** 4)

1
17
98
354
979

979

In [27]:
summation(5, lambda x: x ** 3)

1
9
36
100
225

225

In [28]:
summation(5, lambda x: x ** 1)

1
3
6
10
15

15

# 3. Conditional Expression (Ternary operation)
In Python, a condition expression has the form:
```python
<consequent> if <predicate> else <alternative>
```

Follows Evaluation Rule:
* Evaluate the ```<predicate>``` expression
* If true, the value of the whole expression is the value of ```<consequent>```
* Otherwise: the value of will be ```<alternative>```

**Note**: C, verilog has the similiar expressions
```c
condition ? a : b;
```

In [29]:
summation(3, lambda x: x if x > 0 else 0)

1
3
6

6

In [30]:
summation(100, lambda x: x if x > 0 else 0)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

5050

# 4. Practical Usage

lambda may have multiple parameters, even not all parameters are used

In [1]:
 strat0 = lambda score, opponent: 1 - opponent // 10

In [2]:
print(strat0)

<function <lambda> at 0x7f384d381cb0>

In [3]:
strat0(4, 12)

0

In [1]:
test1 = lambda x, y: x + y

In [2]:
test1(1, 10)

11